body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="number"] {
    width: 200px;
    padding: 8px;
    font-size: 14px;
  }

  select {
    width: 200px;
    padding: 8px;
    font-size: 14px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  strong {
    font-weight: bold;
  }
  
  #resultCelsius,
  #resultFahrenheit,
  #resultKelvin {
    font-weight: bold;
    margin-bottom: 5px;
  }

  #explanationBox {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    width: fit-content;
    margin-top: 5px;
  }
  
  #explanationBox p {
    margin: 0;
  }
  
  #explanationBox strong {
    font-weight: bold;
  }

  #resultBox {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    width: fit-content;
  }
  
  #resultBox p {
    margin: 0;
  }
  
  #resultBox strong {
    font-weight: bold;
  }

  #formulaBox {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 5p;
  }
  
  #formulaBox p {
    margin-bottom: 10px;
  }
  
  #formulaBox ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
  
  #formulaBox li {
    list-style-type: disc;
    margin-bottom: 5px;
  }
  .ConvertButton{
    margin-top: 10px;
    margin-left: 160px;
  }